@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

#body{
    font-family: 'Comfortaa';
    margin: 0%;
}
table{
    padding: 100px;
}
main{
    background-color: whitesmoke;
}
footer{
    background-color: #1c1c1c;
    color: #7e7e7e;
    font-size: 24px;
    align-items: center;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}