@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
.container{
    font-family: 'Comfortaa';
}
footer{
    background-color: #1c1c1c;
    color: #7e7e7e;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
#wallpapers{
    text-align: center;
}
.product-list{
    padding: 10px;
}
.clock{
    color: white;
    font-size: 120%;
}
.active{
    font-weight: bold;
}
.countdown{
    text-align: center;
    font-size: xx-large;
}
.intro {
    max-width: 400px;
    margin-top: 150px;
    text-align: center;
}
.card {
    height: 100%;
}

.alert {
    position: fixed;
    top: 50px; 
    width: 50%;
    left: 25%;
    z-index: 1051;
}

.btn {
    padding: 0.75rem 0.7rem;
}

.navbar{
    position: fixed;
}