@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
.container{
    font-family: 'Comfortaa';
}
footer{
    background-color: #1c1c1c;
    color: #7e7e7e;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
}
#wallpapers{
    text-align: center;
}
.product-list{
    padding: 10px;
}
.clock{
    color: white;
    font-size: 120%;
}
.active{
    font-weight: bold;
}
.countdown{
    text-align: center;
    font-size: xx-large;
}