@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');

body{
    margin: 0;
    font-family: "Metrophobic";
}
article{
    background-color: rgb(235, 235, 235);
}
#logo{
    font-size: 64px;
}
header .banner{
    background-image: url(../img/mars.png);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#title{
    text-align: center;
}
main{
    background-color: white;
    margin: 0%;
}
#products{
    text-align: center;
}
article{
    width: 375px;
    box-align: center;
}
footer{
    background-color: #3b3b3b;
    color: #bfbfbf;
    margin: 0%;
}
header .menu{
    list-style-type: none;
}
header .menu a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 3px;
}
header .menu a:hover{
    font-weight: bold;
}
@media (min-width: 500px) {

    header #top {
        display: flex;
    }

    header .menu {
        display: flex;
        justify-content: space-around;
        flex: 1;
        align-items: center;
        flex-direction: row;
    }

}
@media (min-width: 640px) {

    .product-list {
        display: grid;
        grid-gap: 2px;
        grid-template-columns: 1fr 1fr;
    }

}

@media (min-width: 800px) {

    .product-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

@media (min-width: 980px) {

    .product-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

/*Buttons*/